<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/style.css">
<head>
  <meta charset="UTF-8">
  <link href="../css/estilo.css" rel="stylesheet" >
  <link rel="shortcut icon" href="../img/Logo_simple.jpg" type="image/x-icon">
  <title>Bienvenido Admistrador</title>
</head>
<body>

<h1>Bienvenido Usuario!!</h1>

<p>
  Your username is : <b>[[${#request.userPrincipal.principal.username}]]</b>
</p>

<form th:action="@{/customer/login}"  action="post">
  <input type="submit" class="btn-login" value="Salir">
</form>

</body>
</html>